.big {
  position: absolute;
  width: 100vw;
  height: 100vw;

  background: #d74680;
}
.henyu {
  position: absolute;
  display: flex;
  margin-left: 700px;
  width: 767px;
  height: 580.5px;
  justify-content: center;
}
.firsttext {
  position: absolute;
  width: 458px;
  height: 49px;
  font-family: vERDANA;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 49px;
  display: flex;
  color: #ffffff;
}
.secondtext {
  position: absolute;
  width: 184px;
  height: 27px;
  top: 80px;
  left: 30%;
  font-family: verdana;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  text-align: center;

  color: #ffffff;
}
.zuragug-1 {
  position: absolute;
  width: 685px;
  height: 391px;
  top: 250px;
  right: 600px;
}
.zurag-1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 525px;
  height: 185px;
}
.img-1 {
  width: 96px;
  height: 96px;
}
.imgtext-1 {
  width: 375px;
  height: 96px;

  font-family: verdana;
  font-style: italic;
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;

  color: #ffffff;
}
.zurag-2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 525px;
  height: 185px;
}
.img-2 {
  width: 96px;
  height: 96px;
}
.imgtext-2 {
  width: 375px;
  height: 96px;

  font-family: verdana;
  font-style: italic;
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;

  color: #ffffff;
}
